:root {
    --blanco: #ffffff;
    --turquesa: rgb(15, 182, 211);
    --primario: #ffc107;
    --secundario: #0097a7;
    --oscuro: #212121;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;  /*Asignamos un tamaño inicial a todo el documento html para equilibrarlo con los *rem* */
    box-sizing: border-box; /*box model: para que el padding no afecte la medida de los contenidos/contenedores*/
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-size: 16px;  /* Unido al anterior facilita las equivalencias a pixels  (1rem = 10px)*/
    font-family: 'Abel', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}
h1 {
    font-size: var(--fuente-principal);
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}

.titulo {
    color: var(--turquesa);
    font-weight: bold;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    /*margin-top: 0;
    margin-left: auto;
    margin-bottom: 5rem;
    margin-right: auto;*/

    margin: 0 auto; /*Equivale al código anterior, y reducirlo a dos parámetros
                            el primero equivale a top y bottom, y el segundo a right y left
                            quedando:  margin: 0 auto; en vez de margin: 0 auto 0 auto;*/
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow:  0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.nav-bg {
    background-color: var(--primario);
}

.navegacion-principal {
    /*margin establece la distancia del elemento respecto al resto (distancia exterior), mientras que padding marca la distancia
    propia del elemento (distancia interior)// padding: 1valor; equivale a darle valores a los cuatro costados*/   
    display: flex;
    flex-direction: column;
    align-items: center; /*también se puede hacer con 'display: block; + text-align: center; en el bloque pertinente (.navegacion principal a)*/  
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between; 
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    /*display: block; si quisieramos modificar el inline que viene por defecto
    para poner el contenido uno bajo el otro*/
}

.navegacion-principal a:hover {
    background-color: var(--turquesa); 
    color: var(--oscuro); 
}

/*ejemplos jugando con los media query y cómo afecta el diseño a cada tamaño*/
/*body {
    background-color: var(--primario);
}

@media (min-width: 520px ) {
    body {
        background-color: aquamarine;
    }
}

@media (min-width: 780px ) {
    body {
        background-color: yellowgreen;
    }
}*/

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative; /*el padre debe estar en posición relativa siempre*/
    margin-bottom: 2rem;
}

.contenido-hero { 
    position: absolute;/*para que el hijo pueda estar en posición absoluta*/
    background-color: rgba(0,0,0,.6); /*Nomenclatura anterior para las transparencias (se puede dejar ya que se anula con la siguiente y algunos navegadores aún no toleran la nueva sintáxis, así tendrían el recurso)*/
    background-color: rgb( 0 0 0 / 60%); /*Nomenclatura nueva*/
    top: 0;
    bottom: 0; /*se puede usar widht: 100%; height: 100% en lugar de los cuatro puntos (en mi caso no cubre correctamente ¿?)*/
    right: 0;
    left: 0;
    /*alineación vertical y horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        /*grid-template-columns: 300px 300px;
        grid-template-rows: 200px 800px;
        grid: 200px 800px / 300px 300px; /*Versión resumida de los conceptos anteriores*/
        /*grid-template-columns: 33.3% 33.3% 33.3%; /*Para obtener el espacio dividido en tres el tanto por ciento es 33.3%*/
        /*grid-template-columns: 1fr 1fr 1fr; /*Para obtener el mismo resultado sin necesidad de cálculos se divide el espacio en fracciones, especificando las fracciones que queremos y grid se encarga de hacer los cálculos*/
        grid-template-columns: repeat(3, 1fr); /*aún más sencillo, indicamos la cantidad de veces que queremos una fracción del espacio*/
        column-gap: 2rem;
    }    
} 

.servicio {
    display: flex;
    flex-direction: column; /*teniendo el flex-direction: column; ya no es posible centrar los elementos con justify-content*/
    align-items: center;
}


.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /*min necesita dos parámetros, va a utilizar el valor más pequeño. Esta función nos ahorra los media query 
                                ya que calcula siempre si el 100% es más pequeño que los 600px indicados y si es así toma este valor(va según el tamaño de la pantalla)*/
    margin: 0 auto; /*para centrar en vez de justify-content, para elemento cuyo padre no es un display-flex (formulario) y elemento de tipo block*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.contenedor-campos {}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}